.example-container mat-form-field + mat-form-field {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    
  }

  .password {
    width: 212px;
  }
  
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }